.container-main {
  display: flex;
  border: black;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  background-color: #758ecd;
}
#name {
  margin: 10px auto;
  border: green;
}

.container-content {
  display: flex;
  max-width: 1000px;
  width: 100%;
  border: blue;
  flex-wrap: wrap-reverse;
}

#container-left-side {
  max-width: 400px;
  width: 100%;
  float: left;
  border: greenyellow;
  margin: 0px auto;
  padding-left: 15px;
}

.left-side-title {
  display: flex;
  border: blueviolet;
  padding-left: 25px;
  background-color: #624cab;
}

.left-side-title > div {
  width: 150px;
}

.left-side-content {
  padding: 10px 45px;
  background-color: #97adfd;
}

.education-content {
  display: inline-block;
}

.left-side-title > .far,
.left-side-title > .fas {
  margin: auto;
  font-size: 35px;
  padding-left: 100px;
}
.cat-bar {
  margin-bottom: 20px;
}

#container-right-side {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  float: right;
  border: red;
  margin: 15px 5px;
}

img {
  display: block;
  width: 75%;
  margin: auto;
  border: #624cab solid;
}

#profile-content > div,
#profile-content > p {
  margin: 25px;
}

#social-bar {
  display: flex;
  border: darkturquoise;
  align-self: center;
  align-items: flex-end;
  height: 100%;
  padding-top: 5px;
}

.fab {
  margin: auto 25px;
}
